/* ## CUSTOM PROP */
:root {
  --header-footer-bg-color: #2c3e50;
  --section-odd-bg-color: #1abc9c;
  --location-bg-color: #3a546d;
}

/* ## DEBUG */
.border_debug {
  min-height: 50px;
  border: 2px dashed red;
}

#header,
#footer {
  min-height: 100px;
}

#main > section {
  min-height: 250px;
}

/* ## UTILS */

/* SEPARATOR */

.separator {
  width: 30%;
}

.separator_left,
.separator_right {
  height: 3px;
  border-radius: 3px;
  background-color: white;
  width: 35%;
}

.separator_middle {
  width: 15px;
  aspect-ratio: 1;
  background-color: white;
  margin-left: 5px;
  margin-right: 5px;
}

#portfolio .separator_left,
#portfolio .separator_right,
#portfolio .separator_middle {
  background-color: var(--header-footer-bg-color);
}

/* ## HEADER */

#header {
  background-color: var(--header-footer-bg-color);
}

/* ## MAIN */

#main > section:nth-of-type(odd) {
  background-color: var(--section-odd-bg-color);
}

#main > #location {
  background-color: var(--location-bg-color);
}

/* ## FOOTER */

#footer {
  background-color: var(--header-footer-bg-color);
}
